div {
    text-align: justify;
    text-justify: inter-word;
}

img {
    box-shadow: 2px 2px 4px;
    color: black;
}

a {
    color: black;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: var(--bs-primary);
}