div {
    text-align: justify;
    text-justify: inter-word;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:hover {
    color: var(--bs-primary);
}