div {
    text-align: justify;
    text-justify: inter-word;
}

img {
    color: black;
    box-shadow: 2px 2px 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img:hover {
    color: #ac3e40
}